<ons-template ng-app ="myModule"id="pop_temp1">
    <ons-popover var ="pop"  direction="up down" cancelable ng-controller="PopCloseController as popc">
        <form action="../js/controller/kintai.js"novalidate name="myForm" ng-submit="popc.addTimes(pop,1)">
            <div style="padding: 10px; text-align: center;" >
                <p>出社時間変更</p>
                  <select ng-model="data.model">
                      <option ng-repeat="option in data.hourOptions" value="{{option.id}}">{{option.name}}</option>
                  </select>
                  :
                  <select ng-model="data.model1">
                      <option ng-repeat="option in data.minOptions" value="{{option.id}}">{{option.name}}</option>
                  </select>
                  <input type="submit" value="変更" class="kintai-btn" modifier="materiali"/>
            </div>
        </form>
    </ons-popover>
</ons-template>

<ons-template id="pop_temp0">
    <ons-popover var ="pop0" direction="up down" cancelable ng-controller="PopCloseController as popc">
        <div style="padding: 10px; text-align: center;" >
            <p>既に出社済みです</p>
        </div>
    </ons-popover>
</ons-template>

<ons-template id="pop_temp2">
    <ons-popover var ="pop2" direction="up down" cancelable ng-controller="PopCloseController as popc">
        <form action="../js/controller/kintai.js"novalidate name="myForm" ng-submit="popc.addTimes(pop2,2)">
            <div style="padding: 10px; text-align: center;" >
                <p>休憩時間変更</p>
                  <select ng-model="data.model">
                      <option ng-repeat="option in data.hourOptions" value="{{option.id}}">{{option.name}}</option>
                  </select>
                  :
                  <select ng-model="data.model1">
                      <option ng-repeat="option in data.minOptions" value="{{option.id}}">{{option.name}}</option>
                  </select>
                <input type="submit" class="kintai-btn" modifier="material" value="変更">
            </div>
        </form>
    </ons-popover>
</ons-template>

<ons-template id="pop_temp3">
    <ons-popover var ="pop3" direction="up down" cancelable ng-controller="PopCloseController as popc">
        <form action="../js/controller/kintai.js"novalidate name="myForm" ng-submit="popc.addTimes(pop3,3)">
            <div style="padding: 10px; text-align: center;" >
                <p>退社時間変更</p>
                      <select ng-model="data.model">
                          <option ng-repeat="option in data.hourOptions" value="{{option.id}}">{{option.name}}</option>
                      </select>
                      :
                      <select ng-model="data.model1">
                          <option ng-repeat="option in data.minOptions" value="{{option.id}}">{{option.name}}</option>
                      </select>
                <input type="submit" value="変更" class="kintai-btn" modifier="materiali"/>
            </div>
        </form>
    </ons-popover>
</ons-template>

<ons-template id="pop_temp4">
    <ons-popover var ="pop4" direction="up down" cancelable ng-controller="PopCloseController as popc">
        <div style="padding: 10px; text-align: center;" >
            <p>本日もお疲れ様です</p>
            <p id="start_time"></p>
            <p id="break_time"></p>
            <p id="end_time"></p>
        </div>
    </ons-popover>
</ons-template>

<ons-template id="pop_temp5">
    <ons-popover var ="pop5" direction="up down" cancelable ng-controller="PopCloseController as popc">
        <div style="padding: 10px; text-align: center;" >
            <p>提出エラー</p>
        </div>
    </ons-popover>
</ons-template>

<ons-page id="breakdown" ng-app="myModule"ng-controller="KintaiController as kintai">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"> </ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            出退勤
        </div>
    </ons-toolbar>
    <!--<span position="position:static; top:10px; left:10px">0:00                                                                          </span>
    <span position="position:static; top:10px; left:100px">12:00</span>
    -->
    <canvas id="bar-chart-area" height="100" width="400" style="overflow: hidden;margin:70px 35px 85px">^M</canvas>
    <ons-button class="kintai-btn"id="syusya" modifier="large--quiet" ng-click="kintai.buttonManager(1)"><span>出社</span></ons-button>
    <br />
    <ons-button class="kintai-btn"id="kyukei" modifier="large--quiet" ng-click="kintai.buttonManager(2)">休憩</ons-button>
    <br />
    <ons-button class="kintai-btn"id="taisya" modifier="large--quiet" ng-click="kintai.buttonManager(3)">退社</ons-button>
    <br />
    <ons-button class="kintai-btn"id="teisyutu" modifier="large--quiet" ng-click="kintai.buttonManager(4)">提出</ons-button>
</ons-page>