
<ons-popover var ="pop" id="popover"  direction="up down" cancelable ng-controller="PopCloseController as popc">
  <div style="padding: 10px; text-align: center;" >
    <p>出社時間変更</p>
    <label for="edit-work-time"></label>
    <select id="edit-work-year" name="edit-work-time">
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
    </select>
    <select id="edit-work-month" name="edit-work-time">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <select id="edit-work-day" name="edit-work-time">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <input type="button" class="kintai-btn" ng-click="popc.close()" value="変更">
  </div>
</ons-popover>

<ons-page id="breakdown" ng-controller="KintaiController as kintai">
    <ons-toolbar><!--本当はツールバーの表示は一つのテンプレートに書いたほうがSPAぽくていい-->
        <div class="left">
            <ons-toolbar-button ng-click="app.toggle()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            出退勤
        </div>
    </ons-toolbar>
    <canvas id="bar-chart-area" width="300" height="30" style="overflow: hidden;margin:100px 0px 50px"></canvas>
    <ons-button class="kintai-btn"id="syusya" modifier="material" ng-click="kintai.buttonManager(1)">出社</ons-button>
    <br />
    <ons-button class="kintai-btn"id="kyukei" modifier="material" ng-click="kintai.buttonManager(2)">休憩</ons-button>
    <br />
    <ons-button class="kintai-btn"id="taisya" modifier="material" ng-click="kintai.buttonManager(3)">退社</ons-button>
    <br />
    <ons-button class="kintai-btn"id="teisyutu" modifier="material" ng-click="kintai.buttonManager(4)">提出</ons-button>
</ons-page>

