<ons-page >
  <ons-toolbar>
    <div class="center">
          プロフィール
    </div>
  </ons-toolbar>
        <ons-list ng-controller="ProfMenuController as prof"><!--profMenu...はダイアログを表示させるために使う-->
          <ons-list-item id="home" ng-click="app.navi('index.html')" modifier="tappable">
            ホーム
          </ons-list-item>
          <ons-list-item id="name" ng-click="app.navi('view/name.html')" modifier="tappable">
            名前
          </ons-list-item>
          <ons-list-item id="birthday" ng-click="app.navi('view/birthday.html')" tappable>
            誕生日
          </ons-list-item>
          <ons-list-item id="teiji" ng-click="app.navi('view/teiji.html')" tappable>
            定時変更
          </ons-list-item>
          <ons-list-item id="setting" ng-click="app.logout()" tappable>
          ログアウト
          </ons-list-item>
        </ons-list>
</ons-page>