
<ons-page ng-controller="TeijiController as tj">
    <ons-toolbar>
        <div class="left"><ons-back-button>戻る</ons-back-button></div>
        <div class="center">定時の変更</div>
    </ons-toolbar>
    
    <div>
      変更後の定時を入力してください
    </div>
    <p>
      <ons-input id="arrival" ng-model="inputarrival" modifier="underbar" placeholder="{{prearrival}}" float>出社区分</ons-input>
    </p>
    <p>
      <ons-input id="leave" ng-model="inputleave" modifier="underbar" placeholder="{{preleave}}" float>退社区分</ons-input>
    </p>
    
    
    <button ng-click="tj.click()">
    変更    
    </button>
</ons-page>
