/**/

/**/
#bar-chart-area{
    border : thin solid #D3D3D3;
}
.kintai-btn {
    width: 60%;
    margin: 2% 20%;
}

.over{
    background-color: #F00;
    color: #FFF;
}

.default{
    background-color: #FFF;
}