/**/

/**/
#bar-chart-area{
    border : thin solid #D3D3D3;
}
.kintai-btn {
    width: 90%;
    height: 100px;
    margin: 1% 5%;
    font-size: 40px;
    position; relative;
}

#syusha span {
  position: absolute;
  top: 50%;
  margin-top: -1.0rem;
}

.over{
    background-color: #F00;
    color: #FFF;
}

.default{
    background-color: #FFF;
}

.resizeimage{
    width: 50vw; 
}